<div class="container-fluid">
  <div class="row">
     <div class="col-md-2">
      <%= form_with(url: edit_admin_carts_path, method: 'get') do |form| %>
       
          <p class="fw-bold">Sort by</p>

          <p><%= form.radio_button :focus, 'personal_order', checked: params[:focus] == 'personal_order', onchange: 'this.form.submit();' %> 
          <%= form.label :focus, 'personal orders'%></p>
     
          <p><%= form.radio_button :focus, 'restaurant', checked: params[:focus] == 'restaurant', onchange: 'this.form.submit();' %> 
          <%= form.label :focus, 'restaurants'%></p>
          
      <%end%>
    </div>

    <div class="col-md-10">
      <% if params[:focus] == 'restaurant' %>
        <% @grouped_order_items_by_restaurant.each do |restaurant, order_items| %>
          <div class="card border border-success rounded-0 border-top-0">
            <div class="card-body">
              <p class="fw-bold"><%= restaurant.name %></p> 
              <table class="table">
                <thead>
                  <tr>
                    <th class="w-25"> Product</th>
                    <th class="w-10 text-center">Unit price</th>
                    <th class="w-10 text-center">Quantity</th>
                    <th class="w-10 text-end">Price</th>
                  </tr>
                </thead>
                                 
                <tbody>
                  <% @grouped_by_product[restaurant].each do |product_id, items| %>                           
                    <tr>
                      <td class="w-25"><%= @order_item_name[product_id] %></td>
                      <td class="w-10 text-center"><%= @order_item_unit_price[product_id] %></td>
                      <td class="w-10 text-center"><%= @total_quantity[product_id] %></td> 
                      <td class="w-10 text-end"><%= @total_price[product_id] %></td>
                    </tr>                    
                  <% end %>
                </tbody>
              </table>
              <p class="text-end fw-bold fs-6 mb-0">Total price: <%= @restaurant_total_prices[restaurant]%></p>
            </div>
          </div>
        <% end %>
        <p class="text-end fw-bold fs-6 mb-5"> Total company price: <%= @company_order.company_price%></p>
      <%else%>
        <% @company_order.personal_orders.each do |personal_order|%>
          <div class="card border border-success rounded-0 border-top-0">
            <div class="card-body">
              <p><%= personal_order.user.phone_number%> 
                <%= personal_order.user.name%> 
                <%= personal_order.user.surname%> </p> 
              <table class="table">
                <thead>
                  <tr>
                    <th class="w-25">Product</th>
                    <th class="w-25">Restaurant</th>
                    <th class="w-10">Unit price</th>
                    <th class="w-10">Quantity</th>
                    <th class="w-10"colspan="1"></th>        
                    <th class="w-10 text-end">Price</th>
                  </tr>
                </thead>
                <tbody>
                  <% personal_order.order_items.each do |order_item|%>
                    <tr>
                      <td class="w-25"><%= order_item.name%></td>
                      <td class="w-25"><%= order_item.product.restaurant.name%></td>
                      <td class="w-10"><%= order_item.unit_price%></td>
                      <td class="w-10">
                        <%= form_with model: [:admin, personal_order, order_item] do |form| %>
                          <%= form.hidden_field :product_id, value: order_item.product.id %> 
                          <%= form.number_field :quantity, in: 1.0..20.0, step: 1, value: order_item.quantity %>
                          <%= form.submit "Update", class: 'btn bg-success-subtle rounded-0' %>
                        <%end%>
                      </td>
                      <td class="w-10"><%= link_to "Destroy", admin_personal_order_order_item_path(personal_order, order_item), data: {
                            turbo_method: :delete,
                            turbo_confirm: "Are you sure?"
                                        }, class: 'btn bg-success-subtle rounded-0' %></td>
            
                      <td class="w-10 text-end"><%= order_item.total_price%></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>            
              <p class="text-end fw-bold fs-6 mb-0">Total price: <%= personal_order.total_price%></p> 
            </div>
          </div>
        <% end %>    
        <p class="text-end fw-bold fs-6 mb-0"> Total company price: <%= @company_order.company_price%></p> 
        <p> <%= button_to 'Confirm the order', admin_carts_path, method: :patch, class: 'btn bg-success rounded-0 my-2' %> </p>
      <%end%>
    </div>
  </div>
</div>


    