<div class="container-fluid">
  <h4>New user</h4>
  <%= form_with model: [:admin, @user] do |form| %>
    <p> <%= form.label :name %> 
    <%= form.text_field :name, class: 'form-control' %> </p>

    <p> <%= form.label :surname %> 
    <%= form.text_field :surname, class: 'form-control' %> </p>

    <p> <%= form.label :phone_number %> 
    <%= form.text_field :phone_number, placeholder: '+380 xxx xx xx xx', class: 'form-control' %> </p>

    <p> <%= form.label :password %> 
    <%= form.password_field :password, class: 'form-control' %> </p>

    <p> <%= form.label :password_confirmation %> 
    <%= form.password_field :password_confirmation, class: 'form-control' %> </p>
        
    <%= form.submit "Create new user", class: 'btn bg-success rounded-0 my-2' %>
  <% end %>
</div>
